# latex turd files
*.aux
*.auxlock
*.aux.make
*.make
*.log
*.auxbbl.make
*.auxtarget.make
*.bbl
*.blg
*.d
*.fls
*.out
*.out.make
*.tdo
*.toc
*.toc.make
*.fdb_latexmk
*.swp
*.pyg
*.tex.latexmain
*.tex.orig
mpl-dis.lof
mpl-dis.lot
figures/*.bib
external/
#figures/*.pdf
commithash.tex
code/mrf_SPP_speckle/Fresnel_Gs.mat
code/mrf_SPP_speckle/Fresnel_Gsinf.mat
code/mrf_SPP_speckle/int_nodes.mat
mpl-dis.pdf
*~
*.bak0
__pycache__/
*.pyc

# Generated figure files (Python preprocessing output)
qcm/figures/showtempair.tex
qcm/figures/showtempwater.tex
qcm/figures/showtempairwater.tex
