# latex turd files
*.aux
*.auxlock
*.aux.make
*.make
*.log
*.auxbbl.make
*.auxtarget.make
*.bbl
*.blg
*.d
*.fls
*.out
*.out.make
*.tdo
*.toc
*.toc.make
*.pdf_tex
*.fdb_latexmk
*.swp
*.pyg
figures/*.bib
external/
#figures/*.pdf
commithash.tex
code/mrf_SPP_speckle/Fresnel_Gs.mat
code/mrf_SPP_speckle/Fresnel_Gsinf.mat
code/mrf_SPP_speckle/int_nodes.mat
mpl-dis.pdf
*~
