name: Build and Upload Release PDF

on:
  release:
    types: [created, published]

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Cache LaTeX packages
        uses: actions/cache@v4
        with:
          path: /usr/share/texlive
          key: ${{ runner.os }}-texlive-full
      
      - name: Install LaTeX dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y texlive-full latexmk
      
      - name: Build PDF
        run: make
      
      - name: Set artifact tag
        run: echo "tag=v$(date +'%Y.%m.%d').${{ github.run_number }}" >> $GITHUB_ENV

      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.tag }}
          path: ./mpl-dis.pdf
